[Unit]
Description=Bluetooth rfkill event daemon
Before=bluetooth.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/bluetooth-rfkill-event
EnvironmentFile=-/etc/sysconfig/bluetooth-rfkill-event-hciattach
ExecStart=/usr/sbin/bluetooth_rfkill_event $DEBUG $BTMODULE $CONFIGFILE
Restart=on-failure

[Install]
WantedBy=bluetooth.target
